@model bbqbank.ViewModels.IndexViewModel
@{
    ViewBag.Title = "bbqbank - Insert data";
}

<table class="table table-striped">
    <tr>
        <th></th> 
        <th>Paid</th>
        <th>Used</th>
    </tr>
    <tr>
        <td>Alexis</td>
        <td>@Model.AlexisTotalPaid</td>
        <td>@Model.AlexisTotalUsed</td>
    </tr>
    <tr>
        <td>Aude</td>
        <td>@Model.AudeTotalPaid</td>
        <td>@Model.AudeTotalUsed</td>
    </tr>
    <tr>
        <td>Martin</td>
        <td>@Model.MartinTotalPaid</td>
        <td>@Model.MartinTotalUsed</td>
    </tr>
</table>

